.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ecebdf;
}

.content_wrapper {
  display: flex;
  justify-content: center;
  width: 1000px;
}
.main_content {
  background-color: #f7f6f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 450px;
  overflow: hidden;
}
