.infopage_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ecebdf;
}

.content_wrapper {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin-right: 100px;
}

.main_content {
  background-color: #f7f6f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 600px;
  margin-right: 28px;
  max-height: 450px;
}

.header_section {
  width: 100%;
  min-height: 50px;
  background-color: #c6d1ae;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: white;
  font-weight: bold;
}

.label {
  color: #a9bd7d;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.slider_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.slider {
  width: 100%;
  margin: 10px 0;
}

.hobby_slider_wrapper,
.mbti_slider_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hobby_slider,
.mbti_slider {
  display: flex;
  overflow-x: scroll;
  width: 240px;
  height: 50px;
  border-top: 1px solid #c6d1ae;
  border-bottom: 1px solid #c6d1ae;
}

.hobby_slider::-webkit-scrollbar,
.mbti_slider::-webkit-scrollbar {
  display: none;
}

.hobby_icon,
.mbti_icon {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background-color: #e0e0e0;
  transition: background-color 0.3s;
  margin: 0 5px;
  flex: 0 0 50px; /* Adjust the size to fit 4 items within the container */
}

.hobby_icon:hover,
.mbti_icon:hover {
  background-color: #d1d1d1;
}

.selected {
  background-color: #a9bd7d;
  color: white;
}

.scroll_button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.input_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.input_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.input_instagram,
.input_kakaotalk {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input_instagram::placeholder {
  color: #c13584;
  font-weight: bold;
}

.input_kakaotalk::placeholder {
  color: #3c1e1e;
  font-weight: bold;
}

.confirm_button {
  background-color: #a9bd7d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.confirm_button:disabled {
  background-color: #d1d1d1;
  cursor: not-allowed;
}
