.infopage_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ecebdf;
}

.content_wrapper {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin-right: 100px;
}

.main_content {
  background-color: #f7f6f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-right: 28px;
  max-height: 450px;
  overflow: hidden;
}

.header_section {
  width: 100%;
  min-height: 50px;
  background-color: #c6d1ae;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: white;
  font-weight: bold;
}

.label {
  color: #a9bd7d;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.form_container {
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.form_container::-webkit-scrollbar {
  width: 8px;
}

.form_container::-webkit-scrollbar-thumb {
  background-color: #c6d1ae;
  border-radius: 4px;
}

.form_container::-webkit-scrollbar-track {
  background-color: #d2d2d2;
}

.mbti_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mbti_button {
  background-color: #f7f6f0;
  color: #c6d1ae;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mbti_button:hover {
  background-color: #c6d1ae;
  color: white;
}

.mbti_button.selected {
  background-color: #c6d1ae;
  color: white;
}
