.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin: 10px;
}

.profileCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.profileNum {
  font-weight: bold;
  color: #98a679;
  margin: 5px 0;
}

.profileName {
  font-size: 1.25rem;
  font-weight: 600;
  color: #98a679;
  margin: 5px 0;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}

.modalContent {
  background-color: white;
  padding: 32px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 24rem;
  position: relative;
  animation: fadeIn 0.3s ease;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #98a679;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: #6f7d47;
}

.modalHeader {
  margin-bottom: 20px;
  border-bottom: 2px solid #98a679;
  padding-bottom: 10px;
  color: #98a679;
  font-weight: 600;
  font-size: 20px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.modalItem {
  margin: 10px 0;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  text-align: left;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.copyIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #98a679;
  transition: color 0.3s ease;
}

.copyIcon:hover {
  color: #6f7d47;
}

.alertMessage {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #98a679;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 100;
}

.alertMessage.show {
  opacity: 1;
}
.snsIdText {
  margin-left: 15px;
  font-weight: bolder;
}
