.rankingpage_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ecebdf;
}

.content_wrapper {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin-right: 100px;
}

.main_content {
  background-color: #f7f6f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 450px;
  margin-right: 28px;
  overflow: hidden;
}

.header_section {
  width: 100%;
  min-height: 50px;
  background-color: #c6d1ae;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: white;
  font-weight: bold;
}

.ranking_list {
  width: 90%;
  margin-top: 20px;
  height: 350px;
  overflow-y: auto;
}

.ranking_list::-webkit-scrollbar {
  width: 4px;
}

.ranking_list::-webkit-scrollbar-thumb {
  background-color: #c6d1ae;
  border-radius: 4px;
}

.ranking_list::-webkit-scrollbar-track {
  background-color: #f7f6f0;
}

.major_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.major_name {
  width: 30%;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bar_container {
  display: flex;
  align-items: center;
  width: 60%;
}

.bar {
  height: 20px;
  background-color: #a9bd7d;
  border-radius: 10px;
}

.rank {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.number {
  margin-left: 10px;
  font-weight: bold;
  color: #333;
}

.matches {
  width: 10%;
  text-align: right;
  font-weight: bold;
  color: #333;
}

.crown {
  margin-left: 5px;
}
