.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  margin-top: 20px;
}

.error_message {
  color: red;
  font-size: 0.875em;
  margin-bottom: 10px;
}

.header {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

.success_message {
  color: green;
  font-size: 1em;
  margin-bottom: 20px;
}
.label {
  color: #a9bd7d;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #a9bd7d;
}

.mbti_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mbti_button {
  background-color: #f7f6f0;
  color: #c6d1ae;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mbti_button:hover {
  background-color: #c6d1ae;
  color: white;
}

.mbti_button.selected {
  background-color: #c6d1ae;
  color: white;
}

.hobby_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.hobby_button {
  background-color: #f7f6f0;
  color: #c6d1ae;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hobby_button:hover {
  background-color: #c6d1ae;
  color: white;
}

.hobby_button.selected {
  background-color: #c6d1ae;
  color: white;
}
.input_with_button {
  display: flex;
  align-items: center;
  width: 120%;
  margin-bottom: 10px;
}

.input_with_button button {
  margin-left: 10px;
}
