.error_message {
  color: red;
  font-size: 0.875em;
  margin-bottom: 10px;
}

.success_message {
  color: green;
  font-size: 1em;
  margin-bottom: 20px;
}
.label {
  color: #a9bd7d;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #a9bd7d;
}

.mbti_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mbti_button {
  background-color: #f7f6f0;
  color: #c6d1ae;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mbti_button:hover {
  background-color: #c6d1ae;
  color: white;
}

.mbti_button.selected {
  background-color: #c6d1ae;
  color: white;
}

.input_with_button {
  display: flex;
  align-items: center;
  width: 120%;
  margin-bottom: 10px;
}

.input_with_button button {
  margin-left: 10px;
}
.select_container {
  width: 345px;
}

.select {
  width: 100%;
  padding: 8px;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  border-radius: 1rem;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin-top: 3px;
  color: #949494;
  cursor: pointer;
}

.select:focus {
  border-color: #a9bd7d;
  outline: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 80%;
  background-color: #f7f6f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent h2 {
  margin-bottom: 20px;
}

.modalContent p {
  margin: 10px 0;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.button {
  width: 33.3333%;
  padding: 0.5rem 0;
  background-color: #c6d1ae;
  color: white;
  border-radius: 1rem;
}
