.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  margin-top: 20px;
}

.error_message {
  color: red;
  font-size: 0.875em;
  margin-bottom: 10px;
}

.header {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

.success_message {
  color: green;
  font-size: 1em;
  margin-bottom: 20px;
}
